html,
body {
    margin: 0;
    font-size:16px;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    text-align: center;

}

section {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 20px 0;
}

/* --------  Header  -------- */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: #251d4d;
}

header #logo {
  position: absolute;
  top: 10px;
  float: left;
  height: 40px;/*5%*/
  width: 70px;/*8%*/
  margin-left: 2%;
}

header #logo img{
  max-height: 100%;
}

header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
  margin-right: 2%;
}

header .menu li {
float: left;
font-size: 18px;
padding: 15px 10px 15px 10px;
}

header .menu li a {
  color: initial;
  text-decoration: initial;
  color: aliceblue;
}

header .menu li:hover {
  background-color: rgb(50, 42, 90);
  border-radius: 15px;
}

/*-------HAMBURGUER-------*/
#lista
{
  display: block;
  position: relative;
  top: -25px;
  left: -8%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#lista a
{
  text-decoration: none;
  color: aliceblue;
  
  transition: color 0.3s ease;
}

#lista a:hover
{
  color: #e4dd79;
}


#lista input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#lista span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: -10px;
  position: relative;
  
  background: aliceblue;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#lista span:first-child
{
  transform-origin: 0% 0%;
}

#lista span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#lista input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: aliceblue;
}

#lista input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#lista input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menus
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;
  
  background: #251d4d;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menus li
{
  padding: 10px 25px 10px 25px;
  font-size: 34px;
}

#lista input:checked ~ ul
{
  transform: none;
}
#lista {
  visibility: hidden;
}
 
/*-----------------     Capa    ------------*/

figure{
  margin: 0;
}

figure .imagemfundo{
  background: url(img/imagemfundo.jpg);
  background-size: cover;
  alt: "Painel Solar";
  height: 100%;
  padding: 10px;
}

figure .título{
  font-size: 30px;
  color:#251d4d /*Azul escuro*/;
  margin-left: 55%;
  margin-right: 5%;
  text-shadow: 1px, 1px, black;
}

figure h1.título{
  margin-top: 9%;
  margin-bottom: -1%;
  font-size: 42px;
}

figure h2.título{
  border-top: 3px solid #e4dd79 /*Dourado / Amarelo claro*/;
  padding-top: 0.5%;
  padding-bottom: 30px;
}

/*-------------------   Texto   ----------------------*/

.Seção{
  background: aliceblue;
}

.pequeno{
  width: 5%;
}

.pequeno2{
  width: 2%;
}

h2.centro{
  margin-top: 0%;
  padding-top: 5%;
  font-size: 36px;
  text-align: center;
}

iframe.video{
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 2%;
  margin-bottom: 2%;
}

p.Paragrafo{
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

p.Paragrafo2{
  font-size: 18px;
  text-align: center;
}

/*
#caixa{
  margin-left: 28.5%;
  margin-right: 28.5%;
  width: 42.5%;
  height: 42.5%;
  border: 3px solid #443232;;
}

*/

/*----------------  Metas   ----------------*/

.icone{
  width: 50%;
}

.icone:hover{
  background-color: aliceblue;
  border-radius: 20px;
}

/*----------------  Notícias   ----------------*/

h2.centro2{
  font-size: 36px;
  text-align: center;
}

h3.centro, h4.centro{
  font-size: 22px;
}

.link2 {
  color: black;
  text-decoration: initial;
}
.link2:hover {
  color: black;
}

.fotos{
    width: 90%;
}

.fotos2{
  width: 90%;
  margin-top: 5%;
}

/*----------------  Sobre mim   ----------------*/

.final{
  float: left;
  font-size: 24px;
  text-align: justify;
  margin-left: 2%;
  margin-top: 15%;
  width: 100%;
}

.eu{
  margin-left: 40%;
  float: left;
  width: 45%;
  padding-bottom:-10%;
}

/*----------------  Rodapé   ----------------*/

.espaço{
  text-align: center;
}

footer {
  background-color: #251d4d;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 50px 0;
  color: aliceblue;
}

.link {
  color: white;
  text-decoration: initial;
}

.link:hover {
  color: white;
  text-decoration: underline;
}

/* --------  Partes  --------*/

.parte {
  float: left;
  padding: 0 0;
  position: relative;
}

.parte.um{
  width: 45%;
  padding-left: 2%;
}

.parte.dois{
  width: 18.5%;
  padding-top: 1%;
  margin-left: 1%;
}

.parte.tres{
  width: 30%;
  margin-left: 2%;
}

.parte.quatro{
  width: 50%;
}

.parte.cinco{
  width: 50%;
}

/* --------  Responsividade  --------*/
@media all and (max-width: 768px) {
  .parte, .parte.um, .parte.dois, .parte.tres, .parte.quatro, .parte.cinco {
    display: block;
    width: 100%;
    padding: 0;
    margin: 5px auto;
    float: none;
  }

  html, body{
    font-size: 24px;
  }

  header #logo {
    position: relative;
    width: 100%;
    height: 70%;
    margin-left: 0px;
    text-align: center;
  }

  .menu{
    visibility: hidden;
  }
  
  #lista{
    visibility: initial;
  }

  header{
    margin-top: -0.5%;
    height: 7%;
  }

  .icone{
    margin-top: 2%;
  }

  .menu li{
    padding: 15px 10px 15px 10px;
  }

  figure .imagemfundo{
    background-position-x: 50%;
  }

  figure h1.título {
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;/*64px*/
  }

  figure h2.título{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;/*48px*/
  }

  p.Paragrafo2, p.Paragrafo, .final{
    margin-left: 2%;
    width: 95%;
  }

  h2.centro, h2.centro2{
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
  }

  h3.centro, h4.centro{
    font-size: 34px;
  }

  iframe.video{
    margin-left: 0%;
    width: 95%;
    height: 32%;
  }

  .eu{
    margin-left: 27.5%;
  }

  .final{
    margin-top: 5%;
  }

  footer{
    height: 35%;
  }

  .espaço{
    font-size: 16px;
    margin-left: 2%;
    width: 95%;
  }

  .pequeno{
    width: 10%;
  }

  .pequeno2{
    width: 8%;
  }
    
}

/*----------------  Parágrafos   ----------------*/

p{
    line-height:1.8;
}